OPENWEATHER_API_KEY=<your real key>
DATABASE_URL=postgresql+psycopg://<username>:<password>@localhost:5432/city_air_tracker
TEST_DATABASE_URL=postgresql+psycopg://<username>:<password>@localhost:5432/city_air_tracker_test